PORT=4000

REDIS_HOST=
REDIS_PORT=
REDIS_USER=
REDIS_PASSWORD=

SMITE_API_URL=https://api.smitegame.com/smiteapi.svc
HIREZ_DEV_ID=
HIREZ_AUTH_KEY=

TWITCH_API_URL=https://api.twitch.tv/helix
TWITCH_OAUTH_URL=https://id.twitch.tv
TWITCH_KEY=
TWITCH_SECRET=
TWITCH_CLIENT_ID=

VIRTUAL_HOST=local
NODE_ENV=production